<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script th:src="@{/js/bootstrap/bootstrap.js}"></script>
  <script th:src="@{/js/bootstrap/bootstrap.bundle.js}"></script>
  <script th:src="@{/js/script.js}"></script>
  <script src="https://cdn.tiny.cloud/1/f9zv4s8hx9uxaf7vho9e7m1ozym4y8wpwxc5dpjjaql0d3p4/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script th:src="@{/js/tinymceConfig.js}"></script>
  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-grid.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-reboot.css}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="../static/css/mycss.css"
        media="all" th:href="@{/css/mycss.css}"/>
</head>
<body>
<div class="container-fluid" style="background-color:#ffffff;color:#fff;height:67px;">
  <p align="center">
    <img src="/images/VOICE%20logo%202023-transparent.png"
         alt="" title="" border="0" width="178" height="67"><br>
  </p>
</div>


<div class="loginNoticeEmail" sec:authorize="isAuthenticated()">
  <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
    Logged in as Admin <span class="glyphicon glyphicon-sunglasses">&nbsp;</span><a href="/" sec:authentication="name"></a>
    <a href="#" th:href="@{/}"><button>Public pages</button></a>
  </div>
</div>

<div id="adminSideBar" class ="admnSideBar">
  <ul style='list-style:none'>

    <li ><a href="#">Members</a></li>
    <li><a href="">Emails</a></li>
    <li><a href="#">Settings</a></li>
  </ul>
</div>

</div>





<!--<div class="check-inline" >-->
<!--  <h3>Show Checkboxes</h3>-->
<!--<form class ="checkboxes" action="/filterEmails">-->
<!--  <input type="checkbox" id="Free" name="free">-->
<!--  <label for="free"> Free</label><br>-->
<!--  <input type="checkbox" id="Basic" name="basic">-->
<!--  <label for="basic"> Basic</label><br>-->
<!--  <input type="checkbox" id="Premium" name="premium">-->
<!--  <label for="premium"> Premium</label><br><br>-->
<!--  <input type="submit" value="Filter">-->
<!--</form>-->
<!--</div>-->

<div></div>

<div class="form-check">
  <h3>Filter Emails</h3><br>
  <div class = "membersip-tier">
  <input class="form-check-input" type="checkbox" value="" id="free">
  <label class="form-check-label" for="free">
    Free
  </label><br>
  <input class="form-check-input" type="checkbox" value="" id="basic">
  <label class="form-check-label" for="basic">
    Basic
  </label><br>
  <input class="form-check-input" type="checkbox" value="" id="premium">
  <label class="form-check-label" for="premium">
    Premium
  </label><br>
  </div>
    <div class="payment-status">
  <input class="form-check-input" type="checkbox" value="" id="paid">
  <label class="form-check-label" for="paid">
    Paid
  </label><br>
  <input class="form-check-input" type="checkbox" value="" id="unpaid">
  <label class="form-check-label" for="unpaid">
    Unpaid
  </label><br>
    </div>
      <div class="account-role">
  <input class="form-check-input" type="checkbox" value="" id="admin">
  <label class="form-check-label" for="admin">
    Admin
  </label><br>
  <input class="form-check-input" type="checkbox" value="" id="user">
  <label class="form-check-label" for="user">
    User
  </label><br>
      </div>
        <div class="suspended">
  <input class="form-check-input" type="checkbox" value="" id="suspended">
  <label class="form-check-label" for="suspended">
    Suspended
  </label><br>
  <input class="form-check-input" type="checkbox" value="" id="notSuspended">
  <label class="form-check-label" for="notSuspended">
    Not Suspended
  </label><br>
        </div>
  <input class="filter-submit" type="button" value="Filter Emails" id="filter">

</div>



<div class ="emailOutput">
  <textarea readonly></textarea>
</div>



</body>
</html>