<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
  <meta charset="UTF-8">
  <title>Filter Emails</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script th:src="@{/js/bootstrap/bootstrap.js}"></script>
  <script th:src="@{/js/bootstrap/bootstrap.bundle.js}"></script>
  <script th:src="@{/js/script.js}"></script>
  <script src="https://cdn.tiny.cloud/1/f9zv4s8hx9uxaf7vho9e7m1ozym4y8wpwxc5dpjjaql0d3p4/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script th:src="@{/js/tinymceConfig.js}"></script>
  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-grid.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-reboot.css}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="../static/css/mycss.css"
        media="all" th:href="@{/css/mycss.css}"/>
  <link rel="stylesheet" href="../static/css/admin.css"
        media="all" th:href="@{/css/admin.css}"/>
</head>
<body>


<div>

  <div id="adminSideBar" class ="adminSideBar">
    <div class="adminImageholder">
      <img id="adminNavbarImage" src="/images/VOICE%20logo%202023-transparent.png"
           width="178" height="67">
    </div>

    <ul style='list-style:none'>
      <li ><a href="/admin/dashboard">Dashboard</a></li>
      <li ><a href="/admin/members">Members</a></li>
      <li><a href="/admin/emails">Emails</a></li>
      <li><a href="#">Settings</a></li>
    </ul>
  </div>

  <div class="adminMainBody">
    <div class="adminPageHeaderDiv">
      <h1 class="adminPageHeader">Filter Emails</h1>
    </div>
    <div class="adminLoginNotice" sec:authorize="isAuthenticated()">
      <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
        Logged in as Admin <span class="glyphicon glyphicon-sunglasses">&nbsp;</span><a href="/" sec:authentication="name"></a>
        <a href="#" th:href="@{/}"><button>Return to Public</button></a>
      </div>
    </div>
  </div>

</div>


<div class="form-check">


  <form action="#" th:action="@{/filter}" method="post" name="form">
    <div class="fieldsets-container">
      <fieldset class="filter-fieldset">
          <legend>Membership Tier</legend>
          <div class="filter-fieldset-row">
            <input class="form-check-input" type="checkbox" name="free" id="free">
            <label class="form-check-label" for="free">
             Free
            </label>
        </div>
        <div class="filter-fieldset-row">
          <input class="form-check-input" type="checkbox" name="basic" id="basic">
          <label class="form-check-label" for="basic">
            Basic
          </label>
        </div>
        <div class="filter-fieldset-row">
          <input class="form-check-input" type="checkbox" name="premium" id="premium">
          <label class="form-check-label" for="premium">
            Premium
          </label>
        </div>
      </fieldset>
      <fieldset class="filter-fieldset">
        <legend>Payment Status</legend>
        <div class="filter-fieldset-row">
          <input class="form-check-input" type="checkbox" name="paid" id="paid">
          <label class="form-check-label" for="paid">
            Paid
          </label>
        </div>
        <div class="filter-fieldset-row">
          <input class="form-check-input" type="checkbox" name="unpaid" id="unpaid">
          <label class="form-check-label" for="unpaid">
            Unpaid
          </label>
        </div>
      </fieldset>
      <fieldset class="filter-fieldset">
        <legend>Account Role</legend>
        <div class="filter-fieldset-row">
          <input class="form-check-input" type="checkbox" name="admin" id="admin">
          <label class="form-check-label" for="admin">
            Admin
          </label>
        </div>
        <div class="filter-fieldset-row">
          <input class="form-check-input" type="checkbox" name="user" id="user">
          <label class="form-check-label" for="user">
            User
          </label>
        </div>
      </fieldset>
      <fieldset class="filter-fieldset">
        <legend>User Suspended</legend>
        <div class="filter-fieldset-row">
          <input class="form-check-input" type="checkbox" name="suspended" id="suspended">
          <label class="form-check-label" for="suspended">
            Suspended
          </label>
        </div>
        <div class="filter-fieldset-row">
          <input class="form-check-input" type="checkbox" name="notSuspended" id="notSuspended">
          <label class="form-check-label" for="notSuspended">
            Not Suspended
          </label>
        </div>
      </fieldset>
      <fieldset class="filter-fieldset">
        <legend>Secondary Email</legend>
        <div class="filter-fieldset-row">
          <input class="form-check-input" type="checkbox" name="secondary" id="secondary">
          <label class="form-check-label" for="secondary">
            Secondary Email
          </label>
        </div>
      </fieldset>
    </div>
    <div class="submit-container">
      <input class="filter-submit" type="submit" value="Filter Emails " id="filter">
    </div>
  </form>
  <div class ="emailOutput">
    <textarea th:text = "${filteredEmails}" readonly></textarea>
  </div>
</div>





</body>
</html>